/* Body */
$BodyC: rgba(215, 217, 216, 0.47);
/* Navigation */
$LogoMaxH:30px;
$NavBarC: #3dc03b;
$NavTxtC: #210a07;
$NavTxtCHov: rgba(180, 18, 14, 0.96);
$NavBarBrSz:0;
/* Main */
$MainTopMrg:50px;
/* Footer */
$FtrW:100%;
$FtrPos:static;
$FtrPosBottom:0;
$FtrTxtAlgn:center;
$FtrC: rgba(112, 31, 56, 0.25);
/* Else */
$DocMinH:100%;
$IfrW:100%;
$LiStyle:none;