/* Body */
$BodyC:rgba(217, 217, 217, 0.47);
/* Navigation */
$LogoMaxH:30px;
$NavBarC:#8569c0;
$NavTxtC: #210a07;
$NavTxtCHov: rgba(180, 175, 80, 0.96);
$NavBarBrSz:0;
/* Main */
$MainTopMrg:50px;
/* Footer */
$FtrW:100%;
$FtrPos:fixed;
$FtrPosBottom:0;
$FtrTxtAlgn:center;
$FtrC:#707070;
/* Else */
$DocMinH:100%;
$IfrW:100%;
$LiStyle:none;