/* Body */
$BodyC: rgba(217, 60, 63, 0.47);
/* Navigation */
$LogoMaxH:30px;
$NavBarC: #3dc03b;
$NavTxtC: #4e7f7e;
$NavTxtCHov: rgba(53, 180, 41, 0.96);
$NavBarBrSz:0;
/* Main */
$MainTopMrg:50px;
/* Footer */
$FtrW:100%;
$FtrPos:static;
$FtrPosBottom:0;
$FtrTxtAlgn:center;
$FtrC: rgba(112, 31, 56, 0.25);
/* Else */
$DocMinH:100%;
$IfrW:100%;
$LiStyle:none;